:root {
  --green-dark: #209246;
  --green-light: #d9f99d;
  --white: #fff;
  --black: #000;
}

/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Hero */
#hero {
  /* Trenger kilde på bildet */
  background-image: url('../assets/green-leaves-white-background.jpg');
  /* background-image: linear-gradient(rgba(4,30,9,0.7), rgba(4,30,9,0.7)), url("../assets/python-code.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.text-box {
  margin: 2rem;
  margin-bottom: 10rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  max-width: 500px;
}

.text-box h1 {
  hyphens: manual;
}

.text-box p {
  font-size: 1.4rem;
}

/* Main */
main {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

/* Sections in main */
main section {
  padding-top: 4rem;
  margin-bottom: 2rem;
}

h1 {
  padding: 1rem;
}

p {
  margin: 0.4rem;
  padding: 0.4rem;
}

main section > a {
  border: .3rem solid var(--green-dark);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: .1s;
  text-decoration: none;
  color: var(--black);
}

main section > a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 .5rem var(--black);
}

#about > div {
  margin-top: 2rem;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Images */
img {
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 600px){
  #news a {
    flex-direction: column-reverse;
  }

  #news a:first-of-type{
    flex-direction: column;
  }
}

/* Footer */
footer {
  color: white;
  background-color: var(--green-dark);
}

footer p {
  margin: 0;
  padding: .3rem 1rem;
}